body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg);
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1190px;

  @include media($lg) {
    padding: 0 24px;
  }

  @include media($md) {
    padding: 0 16px;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  background-color: var(--white);
  transition: box-shadow 0.3s;

  .logo {
    @include media($md) {
      max-width: 100px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-lang {
      display: flex;

      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 24px;
        border: 1px solid rgba(#e5e5e5, 0.6);
        background-color: var(--lang);
        transition: border 0.3s, background-color 0.3s, box-shadow 0.3s;

        &:hover {
          border: 1px solid var(--white);
          box-shadow: 0 1px 4px 0 rgba(#000, 0.15);
          background-color: var(--white);
        }

        img {
          width: 100%;
          min-width: min-content;
          z-index: 10;
          display: block;
        }
      }

      &__item-left {
        border-radius: 3px 0 0 3px;
      }

      &__item-right {
        border-radius: 0 3px 3px 0;
      }

      &__active {
        border: 1px solid var(--white);
        box-shadow: 0 1px 4px 0 rgba(#000, 0.15);
        background-color: var(--white);
      }
    }

    .nav-drop {
      position: relative;
      z-index: 10;
      margin-right: 16px;
      height: 62px;
      cursor: pointer;

      @include media($xl) {
        margin-right: 10px;
      }

      @include media($lg) {
        flex-direction: column;
        margin: 0 0 12px;
        height: auto;
      }

      &:hover {
        p {
          &::before {
            transform: rotate(180deg);
          }

          &::after {
            opacity: 1;
          }
        }

        ul {
          opacity: 1;
        }
      }

      p {
        position: relative;
        padding: 0 36px 0 13px;
        font-size: 15px;
        line-height: 24px;
        color: var(--accent);

        @include media($xl) {
          padding: 0 24px 0 13px;
        }

        @include media($lg) {
          margin-bottom: 6px;
          padding: 0;
          font-size: 17px;
          line-height: 22px;
          text-align: center;
          color: var(--grey);
        }

        &::before {
          content: url("../images/drop.svg");
          position: absolute;
          right: 14px;
          top: 4px;
          width: 16px;
          height: 16px;
          transition: transform 0.3s;

          @include media($xl) {
            right: 4px;
          }

          @include media($lg) {
            display: none;
          }
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -19px;
          opacity: 0;
          width: 100%;
          height: 4px;
          background-color: var(--blue);
          transition: opacity 0.3s;

          @include media($lg) {
            display: none;
          }
        }
      }

      ul {
        position: absolute;
        left: 0;
        top: 62px;
        opacity: 0;
        width: 200px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 1);
        transition: opacity 0.3s;

        @include media($lg) {
          position: relative;
          top: 0;
          display: flex;
          flex-direction: column;
          opacity: 1;
          width: auto;
          box-shadow: none;
          background-color: transparent;
          gap: 8px;
        }

        a {
          display: block;
          padding: 11px 14px;
          font-size: 15px;
          line-height: 17.58px;
          letter-spacing: 0.01em;
          color: var(--grey);
          transition: background-color 0.3s, color 0.3s;

          @include media($lg) {
            padding: 0;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: var(--accent);
            background-color: transparent;
          }

          &:hover {
            color: var(--accent);
            background-color: var(--bg);

            @include media($lg) {
              color: var(--grey);
              background-color: transparent;
            }
          }
        }

        .nav-drop__active {
          color: var(--accent);
          background-color: var(--bg);

          @include media($lg) {
            background-color: transparent;
          }
        }
      }
    }

    .nav-list {
      display: flex;
      margin: 0 35px 0 auto;

      @include media($xl) {
        margin: 0 24px 0 auto;
      }

      @include media($lg) {
        flex-direction: column;
        margin: 0 auto 16px;
      }

      li {
        display: flex;
        align-items: center;

        a {
          width: 100%;
        }
      }

      &__item {
        &:not(:last-child) {
          margin-right: 30px;

          @include media($xl) {
            margin-right: 18px;
          }

          @include media($lg) {
            margin: 0 0 12px;
          }
        }
      }

      &__link {
        display: block;
        font-size: 15px;
        line-height: 24px;
        color: var(--grey);
        transition: color 0.3s;

        @include media($lg) {
          font-size: 17px;
          line-height: 22px;
          text-align: center;
        }

        &:hover {
          color: var(--accent);
        }
      }
    }

    .nav-social {
      display: flex;
      margin-left: 30px;
      gap: 20px;

      @include media($xl) {
        margin-left: 24px;
        gap: 12px;
      }

      @include media($lg) {
        margin: 16px 0 0;
        gap: 18px;
      }

      a {
        width: 16px;
        height: 16px;

        &:hover {
          path {
            fill: var(--accent);
          }
        }

        svg {
          path {
            transition: fill 0.3s;
          }
        }
      }
    }

    &__mobile {
      position: relative;
      display: none;
      width: 18px;
      height: 18px;
      cursor: pointer;

      @include media($lg) {
        display: block;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        transition: opacity 0.3s;

        &:first-child {
          opacity: 1;
        }

        &:last-child {
          opacity: 0;
        }
      }
    }

    &__mobile-active {
      img {
        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }

    &__box {
      display: flex;
      align-items: center;

      @include media($lg) {
        position: absolute;
        left: 0;
        top: 62px;
        flex-direction: column;
        padding: 12px 24px 24px;
        width: 100%;
        height: 70vh;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: var(--white);
        transform: translateX(200%);
        transition: transform 0.3s ease-in-out;
      }

      @include media($md) {
        padding: 12px 16px 16px;
      }
    }

    &__box-active {
      transform: translateX(0);
    }
  }

  &__active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

.hero {
  margin-top: 62px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(var(--black), 0.1);
  background-color: var(--yellow);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
    gap: 40px;

    @include media($xl) {
      padding: 46px 0;
    }

    @include media($md) {
      flex-direction: column;
      padding: 40px 0;
    }
  }

  &__inner {
    @include media($xl) {
      min-width: 50%;
    }

    @include media($lg) {
      min-width: 48%;
    }

    @include media($md) {
      margin-top: 32px;
      max-width: 420px;
    }

    @include media($sm) {
      max-width: 100%;
    }
  }

  &__main {
    max-width: 532px;

    @include media($xl) {
      max-width: 100%;
    }

    h3 {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1em;
      text-align: left;
      text-transform: uppercase;
      color: var(--white);

      @include media($lg) {
        margin-bottom: 8px;
        line-height: 20px;
      }
    }

    h1 {
      margin: -12px 0 20px;
      font-weight: 500;
      font-size: 38px;
      line-height: 70px;
      color: var(--accent);

      @include media($xl) {
        margin: 0 0 16px;
        font-size: 34px;
        line-height: 46px;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
      color: var(--accent);

      @include media($lg) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 40px 0 0 1px;
      padding: 15px 29px;
      border: none;
      border-radius: 4px;
      font-size: 15px;
      color: var(--white);
      background-color: var(--btn);
      transition: background-color 0.3s;

      @include media($lg) {
        margin: 28px 0 0;
      }

      @include media($md) {
        padding: 15px 20px;
      }

      @include media($sm) {
        padding: 12px 20px;
        width: 100%;
      }

      &:hover {
        background-color: #26a7fc;
      }
    }
  }
}

.faq {
  padding: 60px 0 71px;

  @include media($md) {
    padding: 46px 0;
  }

  h2 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: var(--accent);

    @include media($md) {
      font-size: 32px;
    }
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 24px;

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.3s;

      &:first-child {
        opacity: 1;
      }

      &:last-child {
        opacity: 0;
      }
    }
  }

  &__item {
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--white);
    transition: box-shadow 0.3s;

    h4 {
      width: 100%;
      max-width: 460px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--accent);

      @include media($md) {
        padding-right: 32px;
        max-width: 100%;
      }
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
      color: var(--accent);
    }

    &__item-title {
      position: relative;
      padding: 20px;
      cursor: pointer;
    }
  }

  &__content {
    opacity: 0;
    padding: 0 20px;
    max-width: 586px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    will-change: max-height;

    @include media($md) {
      padding: 0 16px;
      max-width: 100%;
    }
  }

  &__info {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--accent);
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0;
    max-width: 670px;
    gap: 16px;

    @include media($md) {
      margin: 32px auto 0;
      max-width: 100%;
    }
  }

  &__item-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px;
    cursor: pointer;

    @include media($md) {
      padding: 16px;
    }
  }

  &__item-active {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    .faq__content {
      opacity: 1;
      margin-bottom: 20px;

      @include media($md) {
        margin-bottom: 16px;
      }
    }

    .faq__icon {
      img {
        &:first-child {
          opacity: 0;
        }

        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}