body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  background-color: var(--bg);
  cursor: default;
}

.hidden {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1190px;

  @include media($lg) {
    padding: 0 24px;
  }

  @include media($md) {
    padding: 0 16px;
  }
}
