.hero {
  margin-top: 62px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(var(--black), 0.1);
  background-color: var(--yellow);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 0;
    gap: 40px;

    @include media($xl) {
      padding: 46px 0;
    }

    @include media($md) {
      flex-direction: column;
      padding: 40px 0;
    }
  }

  &__inner {
    @include media($xl) {
      min-width: 50%;
    }

    @include media($lg) {
      min-width: 48%;
    }

    @include media($md) {
      margin-top: 32px;
      max-width: 420px;
    }

    @include media($sm) {
      max-width: 100%;
    }
  }

  &__pretitle {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white);

    @include media($lg) {
      margin-bottom: 8px;
      line-height: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include media($xl) {
      margin-bottom: 16px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 1px;
    padding: 15px 29px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: var(--white);
    background-color: var(--btn);
    transition: background-color 0.3s;

    @include media($lg) {
      margin: 28px 0 0;
    }

    @include media($md) {
      padding: 15px 20px;
    }

    @include media($sm) {
      padding: 12px 20px;
      width: 100%;
    }

    &:hover {
      background-color: #26a7fc;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;

    @include media($lg) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__main {
    max-width: 532px;
    color: var(--accent);

    @include media($xl) {
      max-width: 100%;
    }
  }
}